.bg-white {
    background-color: aliceblue;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: $color-4;
    }

    a {
        color: $vibrant;
    }
}





.bg-grey {
    background-color: $bg-grey;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: $color-4;
    }

    a {
        color: $vibrant;
    }
}

.bg-dark {
    background-color: $color-4;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: $color-1;
    }

    a {
        color: $vibrant;
    }
}