.bg-white {
    background-color: $white;
}

.bg-white {
    background-color: $grey;
}

.bg-grey,
.bg-white {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: $color-4;
    }

    a {
        color: $vibrant;
    }

    a.btn {
        color: $white;
    }

    .btn {
        background-color: $color-4;
        color: $white;
    }

    .btn:hover {
        background-color: $color-3;
    }
}

.bg-dark {
    background-color: $color-4;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        color: $color-1;
    }

    a {
        color: $vibrant;
    }

    .btn {
        background-color: $color-1;
        color: $color-4;
    }

    .btn:hover {
        background-color: $color-2;
    }
}