$color-1: #e4e4e4;
$color-2: #749191;
$color-3: #1d5e5e;
$color-4: rgb(15, 60, 59);
$white: #edf1ff;
$black: #444444;
$grey: #ccc;
$vibrant: #00ffff;
$danger: #761d30;
$danger-color: #d44161;
$success: #00ed33;
$bg-grey: #e4e4e4;
$bg-dark: $color-4;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    overflow-x: hidden;
    background-color: $color-1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $color-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.btn {
    background-color: $color-3;
    color: $color-1;
    padding: 0.5rem 1.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 200ms ease;
    margin-right: 0.5rem;
    margin-top: 0.3rem;
}

.btn.big {
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    width: 100%;
}

a.big {
    text-align: center;
    display: inline-block;
}

.btn.btn-border {
    background-color: transparent;
    border: 1px solid $color-4;
    width: 100%;
}

.btn i {
    margin-right: 0.5rem;
}

.btn:hover {
    background-color: $vibrant;
    color: var(--black);
}

i.icon {
    background-color: $color-4;
    color: $color-1;
    padding: 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 200ms ease;
}

i.icon:hover {
    background-color: $color-3;
}

i.icon.vibrant {
    background-color: $vibrant;
}



.container-blank {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;
}

.container {
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
}

.part {
    padding: 5rem 0;
}

.part-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
}

.part-title-sub {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    color: #666;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.d-flex-start {
    display: flex;
    justify-content: start;
    gap: 1rem;
    flex-wrap: wrap;
}

.d-flex-end {
    display: flex;
    justify-content: end;
    gap: 1rem;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.color-red {
    color: $danger-color;
}

.success-text {
    color: $success;
}

.left-img-card {
    border-radius: 0.5rem;
    padding: 2rem;
    h2 {
        margin-bottom: 1.5rem;
        font-size: 3rem;
    }
    h3 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    h4 {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    img {
        width: 100%;
    }
}