$color-1: #e4e4e4;
$color-2: #749191;
$color-3: #1d5e5e;
$color-4: rgb(15, 60, 59);
$white: #edf1ff;
$black: #444444;
$grey: #ccc;
$vibrant: #00ffff;
$danger: #761d30;
$danger-color: #d44161;
$success: #00ed33;
$bg-grey: #e4e4e4;
$bg-dark: $color-4;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    overflow-x: hidden;
    background-color: $color-1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $color-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-weight: 400;
}



.btn {
    border: none;
    background-color: $color-4;
    cursor: pointer;
    color: #FFF;
    font-size: 0.9rem;
    gap: 0.3rem;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.btn.big {
    width: 100%;
    padding: 1.2rem 0.8rem;
}

.btn:hover {
    background-color: $color-3;
}

.container-blank {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;
}

.container {
    width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
}

.part {
    padding: 5rem 0;
}

.part-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
}

.part-title-sub {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    color: #666;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.d-flex-start {
    display: flex;
    justify-content:start;
    gap: 1rem;
    flex-wrap: wrap;
}

.d-flex-end {
    display: flex;
    justify-content:end;
    gap: 1rem;
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.color-red {
    color: $danger-color;
}

.success-text {
    color: $success;
}