.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper-fluid {
    max-width: 1200px;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .wrapper {
        width: 95%;
    }
}

.show-mobile {
    display: none;
}

.show-desktop {
    display: block;
}

/* medium screens (md) */
@media (max-width: 992px) {}

/* small screens (sm) */
@media (max-width: 768px) {

    .show-desktop {
        display: none;
    }

    .show-mobile {
        display: block;
    }


}

/* extra small screens (xs) */
@media (max-width: 576px) {}